{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- isi utama dari halaman ini-->


    <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1>URL Shortener</h1>

            </div>
            <div class="card-body">
            <form id="shortform" method="post">
                {% csrf_token %}
                <div class="mb-3">
<!--                    {{ form|crispy }}-->
                    {{ form.as_p }}
                    {% if form.errors %}
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div id="errorMessage" class="error"></div>
                <button type="submit">Shorten</button>
            </form>
            {% if url_instance %}
            <div class="alert alert-success mt-3">
                <h2>Short URL</h2>
                <p>Original URL: {{ url_instance.original_url }}</p>
                <p>Short URL: <a href="{{ url_instance.short_url }}">{{ url_instance.short_url }}</a></p>
                <p>QR Code:</p>
                <img src="data:image/png;base64,{{ qr_code|safe }}">
            </div>
            {% endif %}
            </div>
        </div>
    </div>
    </div>


<script>
    document.getElementById('shortform').addEventListener('submit',function (event){
        // menghandle submit form
        event.preventDefault();

        //membersihkan pesan error sebelumnya
        const errorMessageDiv = document.getElementById('errorMessage');
        errorMessageDiv.innerHTML = '';

        //mengambil nilainya
        const originalUrl = document.querySelector('input[name="original_url"]').value;
        const shortUrl = document.querySelector('input[name="short_url"]').value;

        //validasi dasar
        if (!originalUrl){
            errorMessageDiv.innerHTML = 'Original URL is Required.';
            return;
        }

        const forbiddenWords = ['admin', 'root', 'support', 'help', 'login', 'register'];
        if (shortUrl && forbiddenWords.some(word => shortUrl.toLowerCase().includes(word))) {
            errorMessageDiv.innerHTML = 'The Short URL contain forbidden words or is reserved.';
            return;
        }

        if (shortUrl && !/^[a-zA-Z0-9]+$/.test(shortUrl)){
            errorMessageDiv.innerHTML = 'Custome URL can only contain Alfabetic and Numeric character.';
            return;
        }

        //bila validasi sudah oke, submit form
        this.submit();
    });
</script>
</div>
<!-- akhir dari isi utama-->
{% endblock %}


