<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>halaman untuk tes BUG</h1>
<div>
    {% load custom_filters %}
    {% for link in user_links %}
    <p>
        {{ link.short_url }}
        {% if qr_codes|get_item:link.short_url %}
            <img src="data:image/png;base64,{{ qr_codes|get_item:link.short_url }}" alt="QR Code">
        {% else %}
            <p>No QR Code available</p>
        {% endif %}
    </p>
    {% endfor %}
</div>
</body>
</html>