{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
    <h1>My Short Links</h1>
    <ul>
        {% load custom_filters %}
        {% for link in user_links %}
            <li>
                <p>Original URL: {{ link.original_url }} </p>
                <p>Short URL: <a href="{{ link.short_url }}">{{ link.short_url }}</a></p>
<!--                <a href="{{ link.original_url }}">{{ link.short_url }}</a>-->
                <p>Status: {{ link.status }} - Expires at: {{ link.expires_at }}</p>
                <p>QR Code: </p>

                    <img src="data:image/png;base64,{{ qr_codes|get_item:link.short_url }}" alt="QR Code">
<!--                    <a href="{% url 'qr_code' link.short_url %}" target="_blank">View QR CODE</a> |-->


                    <a href="{% url 'download_qr_code' link.short_url %}">Download QR Code</a>
                {% if link.status == 'expired' %}
                    <form action="{% url 'reactivation' link.short_url %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Reactivate</button>
                    </form>
                {% endif %}
                <a href="{% url 'analytics' link.short_url %}">View Analytics</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}